<header>
  <app-header></app-header>
</header>

<body>
  <main>
    @if (showAddTask)
    {
      <app-add-task/>
    }
    <ul>
      <!-- @for (user of users; track user.id){ -->
        <li *ngFor="let user of users">
          <app-user 
          [user]="user"
          (select)="onSelectUser($event)"
          [selected]="user.id === selectedUserId"
          />
        </li>
      <!-- } -->
    </ul>
    <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" [userId]="selectedUser.id" 
    (add_clicked)="onAddTaskClicked()"/>
    <ng-template #fallback>
      <p>No user selected.</p>
    </ng-template>

  </main>
</body>