<header>
  <app-header></app-header>
</header>

<body>
  <main>
    <ul>
      <!-- @for (user of users; track user.id){ -->
        <li *ngFor="let user of users">
          <app-user 
          [user]="user"
          (select)="onSelectUser($event)"
          />
        </li>
      <!-- } -->
    </ul>
    <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" [userId]="selectedUser.id"/>
    <ng-template #fallback>
      <p>No user selected.</p>
    </ng-template>

  </main>
</body>